<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login & Reg</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'userdash/css/userdash.css' %}">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <hr>
            <h5>Technical Sample</h5>
            <h6>Dashboard</h6>
            <h6><a href="/users/show/{{user.id}}">Profile</a></h6>
            <h6><a href="/logout">Log off</a></h6>
            <hr>
        </div>
        <div id="main_body">
            <h2>Manage Users, {{user.first_name}}</h2>
            <a href="/users/addnew"><button>Add new user</button></a>
        </div>
        <div id="table">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name^</th>
                    <th>Email</th>
                    <th>created_at</th>
                    <th>user_level</th>
                    <th>actions</th>
                </tr>
                {% for user in all_users %}
                    <tr>
                        <td>{{user.id}}</td>
                        <td><a href="/users/show/{{user.id}}">{{user.first_name}} {{user.last_name}}</a></td>
                        <td>{{user.email}}</td>
                        <td>{{user.created_at}}</td>
                        {% if user.admin == True %}
                        <td>Admin</td>
                        {% endif %}
                        {% if user.admin == False %}
                        <td>User</td>
                        {% endif %}
                        <td><a href="/users/edit/{{user.id}}">Edit</a> <a href="/users/remove/{{user.id}}">Remove</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>